/.quarto/
DS_Store
.Rhistory
/.luarc.json
/.quarto/
/*_files
/*_cache
/_freeze
_extensions/
.Rprofile
published-202401-adrat-repulsion.html
published-202401-adrat-repulsion.pdf
_environment
/.micromamba/
